@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.whitePlaceholder::placeholder {
    color: darkgray;
}

a {
    text-decoration: none;
    color: white;
}

.top-head {
    background-color: #242526;
    border-bottom: 1px solid #666666;
    padding: 7px 0 2px;
}

.main {
    margin-top: 95px;
    left: 0;
    padding-top: 10px ;
}

.fullWidthList {
    width: 100%;
    padding: 5px;
}

.fullWidthList:hover {
    text-decoration: none;
    background-color: #363636;
    color: white;
}

.messageParagraph {
    word-break: break-all;
    white-space: normal;
    margin: 5px;
}

.messageBox {
    padding: 5px;
    height: auto;
    width: auto;
    max-width: 70%;
    border-radius: 12px;
    margin-bottom: 8px;
}

.fullWidthList {
    display: inline-block;
}

.fullWidthList div {
    display: inline-block;
    float: right;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.card-announcement-middle {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
    align-items: center;
    margin-right: 20px;
    transition: font-size 0.5s ease;
}

.announcement-admin-date {
    font-size: 12px;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.announcement-admins {
    font-size: 20px;
    transition: font-size 0.5s ease;
}


.table_name {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.headers {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.buttons {
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.nav-bar {
    margin-bottom: 1px;
!important;
}

.search-nav-bar {
    height: 25px;
!important;
    transition: font-size 0.5s ease;
}


.txtArea {
    font-size: 20px;
    height: 140px;
}

.titleArea {
    font-size: 20px;
}

.txtArea {
    font-size: 14px;
    height: 120px;
}

.titleArea {
    font-size: 14px;
}


.notification-name {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.notification-titles {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.notification-title {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.notification-buttons {
    font-size: 12px;
}

@media screen and (min-width: 992px) {
    .header {
        height: 80px;
    }

    .admins {
        font-size: 20px;
        transition: font-size 0.5s ease;
    }

    .admin_date {
        font-size: 12px;
        white-space: nowrap;
        transition: font-size 0.5s ease;
    }

    .card-middle {
        font-size: 15px;
        height: 75px;
        margin-left: 20px;
        margin-top: 20px;
        transition: font-size 0.5s ease;
    }

    .card-bottom {
        height: 60px;
        transition: font-size 0.5s ease;
    }

    .read_more {
        font-size: 15px;
        white-space: nowrap;
        transition: font-size 0.5s ease;
    }

    .logo {
        transition: width 0.5s ease, height 0.5s ease;
    }
}

@media screen and (max-width: 991px) {
    .header {
        height: 84px;
    }

    .card-top {
        font-size: 10px;
        height: 80px;
        margin-left: 20px;
        margin-top: 20px;
        transition: font-size 0.5s ease;
    }

    .card-middle {
        font-size: 10px;
        height: 80px;
        margin-left: 10px;
        margin-top: 18px;
        transition: font-size 0.5s ease;
    }

    .card-bottom {
        height: 54px;
    }

    .read_more {
        font-size: 10.8px !important;
        white-space: nowrap;
        transition: font-size 0.5s ease;
    }

    .admins {
        font-size: 13.5px;
        transition: font-size 0.5s ease;
    }

    .admin_date {
        font-size: 8px;
        white-space: nowrap;
        transition: font-size 0.5s ease;
    }

    .logo {
        height: 50px;
        width: 200px;
        transition: width 0.5s ease, height 0.5s ease;
    }
}

.checked {
    color: orange;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    position: relative;
    width: 400px;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .post1 {
    display: none;
}

.container .text1 {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container .edit:hover {
    text-decoration: underline;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before {
    content: "I just hate it";
}

#rate-2:checked ~ form header:before {
    content: "I don't like it";
}

#rate-3:checked ~ form header:before {
    content: "It is awesome";
}

#rate-4:checked ~ form header:before {
    content: "I just like it";
}

#rate-5:checked ~ form header:before {
    content: "I just love it";
}

.container1 form {
    display: none;
}

input:checked ~ form {
    display: block;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn1 {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn1 button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn1 button:hover {
    background: #1b1b1b;
}

#rate-1 {
    display: none;
}

#rate-2 {
    display: none;
}

#rate-3 {
    display: none;
}

#rate-4 {
    display: none;
}

#rate-5 {
    display: none;
}


.search-body {
    margin: 5px 1px 20px 5px;
}

.search-header {
    font-size: 20px;
    margin: 5px 1px 5px 5px;
}

.profile-button {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}