@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.whitePlaceholder::placeholder {
    color: darkgray;
}

a {
    text-decoration: none;
    color: white;
}

.top-head {
    border-bottom: 1px solid #666666;
    padding: 7px 0 2px;
    height: 95px;
}

.back-color {
    background-color: #1d1f24;
}

.main {
    margin-top: 95px;
    left: 0;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
    min-height: calc(100vh - 95px);
}

.fullWidthList {
    width: 100%;
    padding: 5px;
}

.fullWidthList:hover {
    text-decoration: none;
    background-color: #363636;
    color: white;
}

.messageParagraph {
    word-break: break-all;
    white-space: normal;
    margin: 5px;
}

.messageBox {
    padding: 5px;
    height: auto;
    width: auto;
    max-width: 70%;
    border-radius: 12px;
    margin-bottom: 8px;
}

.fullWidthList {
    display: inline-block;
}

.fullWidthList div {
    display: inline-block;
    float: right;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.card-announcement-middle {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
    align-items: center;
    margin-right: 20px;
    transition: font-size 0.5s ease;
}

.announcement-admin-date {
    font-size: 12px;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.announcement-admins {
    font-size: 20px;
    transition: font-size 0.5s ease;
}


.table_name {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.headers {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.buttons {
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.nav-bar {
    margin-bottom: 1px;
!important;
}

.search-nav-bar {
    height: 25px;
!important;
    transition: font-size 0.5s ease;
}


.txtArea {
    font-size: 20px;
    height: 140px;
}

.titleArea {
    font-size: 20px;
}

.txtArea {
    font-size: 14px;
    height: 120px;
}

.titleArea {
    font-size: 14px;
}


.notification-name {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.notification-titles {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.notification-title {
    font-size: 25px;
    transition: font-size 0.5s ease;
}

.notification-buttons {
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .header-search {
        width: 200px;
    }
}

@media screen and (min-width: 701px) {
    .header-search {
        width: 330px;
    }
}

.admins {
    font-size: 20px;
    transition: font-size 0.5s ease;
}

.admin_date {
    font-size: 12px;
    white-space: nowrap;
    transition: font-size 0.5s ease;
}

.read_more {
    font-size: 15px;
    white-space: nowrap;
}

@media screen and (min-width: 992px) {
    .header {
        height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }


    .card-middle {
        font-size: 15px;
        height: 111.5px;
        margin: 0;
        padding-left: 16px;
        padding-right: 9px;
        padding-top: 18px;
        padding-bottom: 18px;
        transition: font-size 0.5s ease;
    }


}

.card-bottom {
    height: 60px;
}

@media screen and (max-width: 991px) {
    .header {
        height: 84px;
        padding-top: 12px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-top {
        font-size: 10px;
        height: 80px;
        margin-left: 20px;
        margin-top: 20px;
        transition: font-size 0.5s ease;
    }


    .card-middle {
        font-size: 10px;
        height: 107.5px;
        margin: 0;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 18px;
        padding-bottom: 18px;
        transition: font-size 0.5s ease;
    }


    .logo {
        height: 50px;
        width: 200px;
        transition: width 0.5s ease, height 0.5s ease;
    }
}

.checked {
    color: orange;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    position: relative;
    width: 400px;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .post1 {
    display: none;
}

.container .text1 {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container .edit:hover {
    text-decoration: underline;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before {
    content: "I just hate it";
}

#rate-2:checked ~ form header:before {
    content: "I don't like it";
}

#rate-3:checked ~ form header:before {
    content: "It is awesome";
}

#rate-4:checked ~ form header:before {
    content: "I just like it";
}

#rate-5:checked ~ form header:before {
    content: "I just love it";
}

.container1 form {
    display: none;
}

input:checked ~ form {
    display: block;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #444;
}

form .btn1 {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn1 button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn1 button:hover {
    background: #1b1b1b;
}

#rate-1 {
    display: none;
}

#rate-2 {
    display: none;
}

#rate-3 {
    display: none;
}

#rate-4 {
    display: none;
}

#rate-5 {
    display: none;
}


.search-body {
    margin: 5px 1px 20px 5px;
}

.search-header {
    font-size: 20px;
    margin: 5px 1px 5px 5px;
}

.profile-button {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

body {
    overflow-x: hidden;
}

/* SearchPage buttons */
.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.progress {
    position: relative;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#v-pills-all-tab {
    text-align: left;
}

#v-pills-users-tab {
    text-align: left;
}

#v-pills-quizzes-tab {
    text-align: left;
}

#v-pills-announcements-tab {
    text-align: left;
}

/* Hide the text when the screen width is less than a certain value */
@media (max-width: 1100px) {
    .text-container {
        display: none;
    }

    .icon-container {
        text-align: center;
    }

    #v-pills-all-tab {
        text-align: center;
    }

    #v-pills-users-tab {
        text-align: center;
    }

    #v-pills-quizzes-tab {
        text-align: center;
    }

    #v-pills-announcements-tab {
        text-align: center;
    }


}

/* Hide the text when the screen width is less than a certain value */
@media (max-width: 1100px) {
    .rank-test {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1099px) {
    .rank-test {
        width: 80px;
        height: 80px;
    }
}


/* Font Colors */
.rank-0 {
    font-weight: bold;
    color: #c47044;
    background: linear-gradient(to bottom, #c47044, #6b3216);
    -webkit-background-clip: text;
    background-clip: text;
    /*animation: fireAnimation0 1s ease-in-out infinite alternate;*/
}

@keyframes fireAnimation0 {
    0% {
        text-shadow: 0 0 10px #c47044, 0 0 20px #c47044, 0 0 30px #c47044;
    }
    100% {
        text-shadow: 0 0 10px #6b3216, 0 0 20px #6b3216, 0 0 30px #6b3216;
    }
}

.rank-1 {
    font-weight: bold;
    color: #e1e1e0;
    background: linear-gradient(to bottom, #e1e1e0, #9c9c98);
    -webkit-background-clip: text;
    background-clip: text;
    /*animation: fireAnimation1 1s ease-in-out infinite alternate;*/
}

@keyframes fireAnimation1 {
    0% {
        text-shadow: 0 0 10px #e1e1e0, 0 0 20px #e1e1e0, 0 0 30px #e1e1e0;
    }
    100% {
        text-shadow: 0 0 10px #9c9c98, 0 0 20px #9c9c98, 0 0 30px #9c9c98;
    }
}

.rank-2 {
    font-weight: bold;
    color: #f3c045;
    background: linear-gradient(to bottom, #f3c045, #ca8c0a);
    -webkit-background-clip: text;
    background-clip: text;
    /*animation: fireAnimation2 1s ease-in-out infinite alternate;*/
}

@keyframes fireAnimation2 {
    0% {
        text-shadow: 0 0 10px #f3c045, 0 0 20px #f3c045, 0 0 30px #f3c045;
    }
    100% {
        text-shadow: 0 0 10px #ca8c0a, 0 0 20px #ca8c0a, 0 0 30px #ca8c0a;
    }
}

.rank-3 {
    font-weight: bold;
    color: #afd6ff;
    background: linear-gradient(to bottom, #afd6ff, #447aed);
    -webkit-background-clip: text;
    background-clip: text;
    animation: fireAnimation3 1s ease-in-out infinite alternate;
}

@keyframes fireAnimation3 {
    0% {
        text-shadow: 0 0 10px #afd6ff, 0 0 20px #afd6ff, 0 0 30px #afd6ff;
    }
    100% {
        text-shadow: 0 0 10px #447aed, 0 0 20px #447aed, 0 0 30px #447aed;
    }
}

.rank-4 {
    font-weight: bold;
    color: #e8e9fa;
    background: linear-gradient(to bottom, #e8e9fa, #9daaf8);
    -webkit-background-clip: text;
    background-clip: text;
    animation: fireAnimation4 1s ease-in-out infinite alternate;
}

@keyframes fireAnimation4 {
    0% {
        text-shadow: 0 0 10px #e8e9fa, 0 0 20px #e8e9fa, 0 0 30px #e8e9fa;
    }
    100% {
        text-shadow: 0 0 10px #9daaf8, 0 0 20px #9daaf8, 0 0 30px #9daaf8;
    }
}

.rank-5 {
    /*font-size: 15px;*/
    font-weight: bold;
    color: #ffea84;
    background: linear-gradient(to bottom, #ffea84, #ecb847);
    -webkit-background-clip: text;
    background-clip: text;
    animation: fireAnimation 1s ease-in-out infinite alternate;
}

@keyframes fireAnimation {
    0% {
        text-shadow: 0 0 10px #ffea84, 0 0 20px #ffea84, 0 0 30px #ffea84;
    }
    100% {
        text-shadow: 0 0 10px #ecb847, 0 0 20px #ecb847, 0 0 30px #ecb847;
    }
}

/* */